*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rimouski";
}

body{
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-size: cover;
   
}

.container{
    /* width: 300px;  */
    margin-top: 15%;  
    /* background-color: #FFF; */
    
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 3.2em;
    color: #fff;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.notification{
   
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 260px; 

}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
    
}

.temperature-value{
    width: 300px;
    height:100px; 
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
} 

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 6em;
    text-align: center;
    cursor: pointer;
}


.temperature-value span{
    color: #fff;
    font-size: 0.5em;
}



.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}



.location p{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1em;
}

@media (max-width: 600px) {
    .container{
        height: 100vh;
    }
    
  }
